@{
    ViewBag.Title = "Home Page";
}


<div class="clearfix visible-xs visible-lg"></div>
</br>
</br>
<div class="row">
    <div class="col-lg-3 col-xs-6 anime">
        <div class="thumbnail">
            <div class="caption">
                <h4><span class="glyphicon glyphicon-globe"></span> Web Development</h4>
                <p>Dogs and cats are susceptible to a variety of illnesses that can be completely prevented by following the appropriate vaccination schedule.</p>
                <p><a href="#" class="btn btn-warning">Read more >></a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6 anime">
        <div class="thumbnail">
            <div class="caption">
                <h4><span class="glyphicon glyphicon-object-align-left"></span> Software Development</h4>
                <p>Dogs and cats are susceptible to a variety of illnesses that can be completely prevented by following the appropriate vaccination schedule.</p>
                <p><a href="#" class="btn btn-warning">Read more >></a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6 anime" >
        <div class="thumbnail">
            <div class="caption">
                <h4><span class="glyphicon glyphicon-phone"></span> Mobile Apps Development</h4>
                <p>Dogs and cats are susceptible to a variety of illnesses that can be completely prevented by following the appropriate vaccination schedule.</p>
                <p><a href="#" class="btn btn-warning">Read more >></a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-xs-6 anime">
        <div class="thumbnail">
            <div class="caption">
                <h4><span class="glyphicon glyphicon-user"></span> Domain and Hosting </h4>
                <p>Dogs and cats are susceptible to a variety of illnesses that can be completely prevented by following the appropriate vaccination schedule.</p>
                <p><a href="#" class="btn btn-warning">Read more >></a></p>
            </div>
        </div>
    </div>

</div>


<script>
   
        $(".anime").hover(function () {
            $(this).animate({ top: '-40px' });
        },
        function () {
            $(this).animate({ top: '0px' });
        }
            
        );

   
</script>